*.o
*.bundle
*.log
*.so
*.rbc
.DS_Store
/.config
/InstalledFiles
/doc
/local.mk
/test/rbx-*
/test/ruby-*
ext/unicorn_http/Makefile
log/
pkg/
/vendor
/NEWS*
/.manifest
/GIT-VERSION-FILE
/man
/tmp
/LATEST
/*_1
