*.o
*.bundle
*.log
*.so
*.rbc
*.log
.DS_Store
/.config
/InstalledFiles
/local.mk
/test/rbx-*
/test/ruby-*
ext/pitchfork_http/Makefile
log/
pkg/
/vendor
/NEWS*
/.manifest
/GIT-VERSION-FILE
/man
/tmp
/LATEST
/*_1
test/integration/trash/
Gemfile.lock
